{% extends "Supplier/none-base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Supplier Details" %}</h1>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ supplier.name }}</h5>
    <p class="card-text"><strong>{% trans "City:" %}</strong> {{ supplier.city }}</p>
    <p class="card-text"><strong>{% trans "District:" %}</strong> {{ supplier.district }}</p>
    <p class="card-text"><strong>{% trans "Address:" %}</strong> {{ supplier.address }}</p>
    <p class="card-text"><strong>{% trans "Contact Number:" %}</strong> {{ supplier.contact_number }}</p>
    <p class="card-text"><strong>{% trans "Contact Person:" %}</strong> {{ supplier.contact_person_first_name }} {{ supplier.contact_person_last_name }}</p>
    <p class="card-text"><strong>{% trans "Mobile Number:" %}</strong> {{ supplier.mobile_number }}</p>
    <a href="{% url 'update_supplier' supplier.pk %}" class="btn btn-warning">{% trans "Edit" %}</a>
    <a href="{% url 'supplier_list' %}" class="btn btn-primary">{% trans "Back to List" %}</a>
  </div>
</div>
{% endblock %}