{% extends "base.html" %}

{% block content %}

<div class="col-md-6 offset-md-3">

{% if user.is_authenticated  %}

<h1>Hello Kygsz</h1>


{% else %}
<h1>Login</h1>
<br/>
<form method="POST" action="{% url 'home' %}">
  {% csrf_token %}
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Kullanıcı Adı</label>
          <input type="text" class="form-control" name="username" placeholder= "Kullanıcı Adı" required>
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Parola</label>
          <input type="password" class="form-control" name="password", placeholder="password" required>
        </div>
        <br>

        <button type="submit" class="btn btn-primary">Kaydet</button>
      </form>

</form>
</div>

{% endif %}

{% endblock  %}
