{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<style>
  .position-relative{
    display: none;
  }
</style>

<div class="card">
  <div class="card-header"><strong>
    	{{ customer_record.first_name }} 
		{{ customer_record.last_name }}</strong>
  </div>
  <div class="card-body">

    <p class="card-text">
      <strong>{% trans "Email Address:" %} </strong>{{ customer_record.email }}
    </p>

    <p class="card-text">
      <strong>{% trans "Phone Number:" %} </strong>{{ customer_record.phone }}
    </p>

    <p class="card-text">
      <strong>{% trans "Address:" %} </strong>{{ customer_record.address }}
    </p>

    <p class="card-text">
      <strong>{% trans "City:" %} </strong>{{ customer_record.city }}
    </p>

    <p class="card-text">
      <strong>{% trans "Neighborhood:" %} </strong>{{ customer_record.state }}
    </p>

    <p class="card-text">
      <strong>{% trans "Postal Code:" %} </strong>{{ customer_record.zipcode }}
    </p>

    <p class="card-text">
      <strong>{% trans "Creation Date:" %} </strong>{{ customer_record.created_at }}
    </p>

    <p class="card-text">
      <strong>{% trans "ID:" %} </strong>{{ customer_record.id }}
    </p>
    
  </div>
</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-dark">{% trans "Back" %}</a>

<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">{% trans "Delete" %}</a>

<a href="{% url 'update_record' customer_record.id %}" class="btn btn-primary">{% trans "Update Record" %}</a>
{% endblock %}
